<header class="sub-header col-md-12">
  <ul class="menu">
    <li class="title"><h4>Nova Página</h4></li>
  </ul>
</header>

<section class="form">
  <%= form_for [:admin, @page] do |f| %>
    <ul class="text-field">
      <%= f.text_field :title, class: "form-control" %>
    </ul>
    <ul class="text-area">
      <%= f.text_area :content, class: "form-control" %>
    </ul>
    <ul class="submit">
      <%= f.submit "Publicar", class: "btn btn-primary" %>
    </ul>
  <% end %>
</section>

