section.form {
  ul {
    margin-left: 1%;
  }
}

section.form {
  label{
    float: left;
    width: 100%;
  }
  .select select {
    -webkit-appearance: menulist-button;
    width: 50%;
  }

  textarea {
    height: 300px;
  }
}

.form-new-template .btn {
  margin-top: 10px;
}