<header class="sub-header col-md-12">
  <ul class="menu">
    <li class="title"><h4>Themes</h4></li>
  </ul>
</header>

<section class="col-md-11 form-new-template">
  <%= form_for [:admin, @theme] do |f| %>
    <%= f.file_field :file %>
    <%= f.submit "Confirm", class: "btn btn-primary" %>
  <% end %>
</section>
