<div class="sidebar">
  <ul>
    <li><%= link_to "Pages", admin_pages_path %></li>
    <li><%= link_to "Posts", admin_posts_path %></li>
    <li><%= link_to "Themes", admin_themes_path %></li>
    <li><a href="#">Export</a></li>
  </ul>
</div>
